html {
    background-color: black;
}

.main-pd {
    padding-left: 5rem;
    padding-right: 5rem;
}

.background {
    background-color: black;
    height: 100%;
}

.main {
    font-family: 'DM Sans';
    height: 100vh;
    background-color: black;

    .video-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        // max-width: 1440px;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: 2;
            background:
                /* Starker Schatten unten, läuft nach oben aus */
                linear-gradient(to top, rgba(20, 20, 20, 0.8) 0%, rgba(20, 20, 20, 0) 40%),
                /* Seitliche Schatten links und rechts */
                linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, transparent 20%, transparent 80%, rgba(0, 0, 0, 0.6) 100%);
            background-repeat: no-repeat;
            background-size: 100% 100%, 100% 100%;
        }

        .video-wrapper {
            height: 70%;
            position: absolute;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: calc(100% - 10rem);
            padding-top: 20rem;
            z-index: 3;

            .video-wrapper-top {
                min-height: 44rem;
            }

            .video-wrapper-botton {}

            .video-description {
                max-width: 500px;
                gap: 32px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                flex: 0 0 50%;
                z-index: 3;
                color: white;
                text-align: center;

                h2 {
                    margin-bottom: 12px;
                    font-size: 88px;
                    font-weight: 700;
                    margin: 0;
                    ;
                }

                span {
                    text-align: left;
                    font-size: 16px;
                    font-weight: 400;
                }

                .cta-button {
                    text-decoration: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 48px;
                    padding: 0px 24px;
                    border-radius: 40px;
                    background-color: rgb(46, 62, 223);
                    color: white;
                    font-size: 18px;
                    font-weight: 700;
                    transition: 200ms;

                    &:hover {
                        background-color: rgb(77, 89, 224);
                        transform: scale(1.05);
                    }

                    &:active {
                        transform: scale(0.97) translateY(1px);
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    }
                }
            }

            .video-description-spacer {
                flex: 1 1 50%;
                max-width: 500px;
            }
        }

        .videos {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            display: flex;
            gap: 1rem;
            z-index: 3;
            margin-top: 32px;

            h3 {
                margin: 0;
                font-size: 22px;
                font-weight: 700;
                color: white;
            }

            .videos-container {
                display: flex;
                gap: 16px;
                overflow-x: scroll;
                overflow-y: hidden;
                height: 100%;
                scrollbar-width: none;

                app-videobox {
                    cursor: pointer;
                }

                .video-box {
                    cursor: pointer;
                    width: 270px;
                    transition: 125ms;

                    &:hover {
                        transform: scale(1.05);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}