<app-background [imageUrl]="'assets/img/homeImg/home_img4.png'">
    <app-header></app-header>
    <main class="content">
        <div class="content-top">
            Movies, TV shows, and more
        </div>
        <div class="content-middle">
            Enter your email to create or restart your subscription.
        </div>
        <div class="content-botton">
            <input class="emailInputField" type="email" placeholder="Email Address">
            <div routerLink="signUp" class="signUpButton">Sign up ></div>
        </div>
    </main>
    <app-footer></app-footer>
</app-background>