.video-box {
    // cursor: pointer;
    width: 270px;
    height: 155px;
    transition: 125ms;

    &:hover {
        transform: scale(1.05);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}